## Sqlite3
SQLite3 in Python is a built-in module that lets you work with SQLite databases. It allows you to store, retrieve, and manage data using SQL commands. Since SQLite is lightweight and doesn't require a separate server, it's great for small projects, apps, and testing. With `sqlite3`, you can create tables, insert data, run queries, and even update or delete records all from your Python code.

In [1]:
import sqlite3

In [ ]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db') # this will create a example.db 
connection

In [3]:
## create a cursor, create a cursor object, which will make sure that it will iterate 
## through all the table's rows. So that is the reason we create a cursor
cursor = connection.cursor()

In [4]:
# Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text 
    )
''')

In [5]:
# Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * From employees
''')

In [7]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
                values('Jobally',35,'Data Engineer')
''')

cursor.execute('''
Insert Into employees(name,age,department)
                values('Bob',32,'Data Scientist')
''')

cursor.execute('''
Insert OR IGNORE Into employees(name,age,department)
                values('Charlie',25,'Engineer')
''')

connection.commit()

In [8]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Jobally', 35, 'Data Engineer')
(2, 'Bob', 32, 'Data Scientist')
(3, 'Charlie', 25, 'Engineer')

In [10]:
## Update the data in the table
cursor.execute('''
UPDATE employees
SET age=34
WHERE name='Jobally'
''')
connection.commit()

In [11]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Jobally', 34, 'Data Engineer')
(2, 'Bob', 32, 'Data Scientist')
(3, 'Charlie', 25, 'Engineer')

In [12]:
## Delete the data from the table
cursor.execute('''
DELETE FROM employees
                WHERE name='Bob'
''')
connection.commit()

In [13]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Jobally', 34, 'Data Engineer')
(3, 'Charlie', 25, 'Engineer')

In [22]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()
# Drop the table if it exists

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT,
    sales INTEGER,
    region TEXT
)
''')
connection.commit()

## Insert data into the sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
]

## Inset into multiple rows
cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
                    values(?,?,?,?)
''', sales_data)

connection.commit()

In [24]:
## Query the data from the table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [25]:
## Close connection
connection.close() #cannt operate on a closed database